*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-white: #fff;
$color-gray: #777;
$color-gray-light-1: #f7f7f7;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
//
// for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;
//
// purpose of clearfix is to create a after element for the height of div collapsed by floats
@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// media query manager
// 0-600px -> mobile
// 600px-900px -> tablet potrait
// 900px-1200px -> tablet landscape
// 1200px-1800 -> normal styles apply
// 1800px + -> big desktop
// $breakpoint argument choices ----->
// --phone
// --tab-portrait
// --tab-landscape
// --big-desktop
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            // 600px / 16px 
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            //900px
            @content
        }
        ;
    }
    @if $breakpoint==tab-landscape {
        @media only screen and (max-width: 75em) {
            //1200px 
            @content
        }
        ;
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            // 1800px
            @content
        }
        ;
    }
}

// ------------------Utility classes----------------------
.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

// ------------------Utility classes end ----------------------
html {
    /* font-size: 10px; by declaring this -> 1rem == 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* equivalent to 10px since 100% == 16px */
    @include respond(tab-landscape) {
        //width < 1200
        font-size: 56.25%; //here 1rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) {
        // width < 900
        font-size: 50%; //here 1rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {
        // width < 600
        font-size: 30%; //here 1rem = 4.8px, 4.8/16 = 30%
    }
    @include respond(big-desktop) {
        // width > 1800
        font-size: 75%; //here 1rem = 12px, 12/16 = 75%
    }
}

body {
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: $color-gray;
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

// navigation 
.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.13);
        text-align: center;
        cursor: pointer;
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 100;
        transition: transform 0.8s;
        @include respond(tab-port) {
            top: 4.6rem;
            right: 4.6rem;
        }
    }
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        opacity: 0;
        width: 0;
        transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            font-weight: lighter;
            letter-spacing: 2px;
            padding: 0.5rem 2rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            background-size: 220%;
            transition: all 0.8s;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        span {
            margin: 1rem;
            display: inline-block;
        }
    }
    &__checkbox:checked~&__background {
        transform: scale(1000);
    }
    &__checkbox:checked~&__nav {
        width: 100%;
        opacity: 1;
    }
    // icon
    &__icon {
        position: relative;
        margin-top: 3.4rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: #333;
            display: inline-block;
        }
        &::before {
            content: '';
            height: 2.5px;
            position: absolute;
            left: 0;
            top: -0.8rem;
            transform: all 0.2s;
        }
        &::after {
            content: '';
            height: 2.5px;
            position: absolute;
            left: 0;
            top: 0.8rem;
            transform: all 0.2s;
        }
    }
    &__button:hover &__icon::before {
        top: -0.9rem;
    }
    &__button:hover &__icon::after {
        top: 0.9rem;
    }
    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
        &::before {
            top: 0;
            transform: rotate(135deg);
        }
        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }
}


/* Header BG */

.header {
    overflow: hidden;
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    @include respond(tab-port) {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
    &__logo--box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        margin: 1.5rem;
    }
    &__logo {
        height: 6rem;
    }
    /*HEADING */
    &__text--box {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include respond(tab-port) {
            top: 3%;
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        }
        @include respond(phone) {
            top: 5%;
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        }
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s linear 1;
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4rem;
        }
    }
    &--sub {
        display: block;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1.5rem;
        padding-right: 1.5rem;
        animation: moveInRight 1s linear 1;
        @include respond(phone) {
            letter-spacing: 0.5rem;
            font-size: 1.5rem;
            padding-left: 1.1rem;
        }
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Button */

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;
        transition: all 0.2s;
        position: relative;
        animation: moveInBottom 0.4s linear 1 0.75s;
        animation-fill-mode: backwards;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    &--white {
        background-color: $color-white;
        color: $color-gray;
        &::after {
            background-color: $color-white;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 10rem;
        transition: all 0.4s;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* About SEction */

.section-about {
    overflow: hidden;
    background-color: $color-white;
    padding: 25rem 0 20rem 0;
    margin-top: -20vh;
    /* to occupy the clipped part */
    @include respond(tab-port) {
        padding: 35rem 0;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background-image: linear-gradient( to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    opacity: 1;
    &:hover {
        // border: 10px solid;
        transform: skewY(1deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem, rgba($color-black, 0.2);
    }
    @include respond(tab-port) {
        font-size: 2.5rem;
    }
    @include respond(phone) {
        font-size: 2rem;
    }
}

.row-about {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
        //.row:not:last-child -> every except last
        margin-bottom: $gutter-vertical;
        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }
    @include respond(tab-port) {
        max-width: 50rem;
    }
    @include clearfix();
    [class^="col-"] {
        // will select all classes starting with col-...^- -> starts with, $= -> ends with
        float: left;
        &:not(:last-child) {
            margin-right: $horizontal-gutter;
            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: 6rem;
            }
        }
        @include respond(tab-port) {
            width: 100% !important;
        }
    }
    .col-1-of-2 {
        width: calc((100% - 6rem) / 2); // (100-6)/2
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        border-bottom: 1px solid $color-primary;
        padding: 0.8rem;
        transition: all 0.3s;
        border-radius: 5px;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}

.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 1.5rem;
        cursor: pointer;
        @include respond(tab-port) {
            position: relative;
            float: left;
            width: 33.33%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
        }
        &--p1 {
            left: 0;
            top: -2rem;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }
        &--p2 {
            right: 0;
            top: 2rem;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
                z-index: 10;
            }
        }
        &--p3 {
            left: 20%;
            top: 10rem;
            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.2);
            }
        }
        &:hover {
            outline: 1rem solid $color-primary;
            transform: scale(1.05) translateY(-5px);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }
    // composition:hover composition__photo:not(:hover)
    &:hover &_photo:not(:hover) {
        transform: scale(0.95);
    }
}

// FEATURE BOX
.section-features {
    overflow: hidden;
    padding: 20rem 0;
    background-image: linear-gradient( to right, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85)), url("nat-4.jpg");
    // height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: -10rem;
    transform: skewY(-7deg);
    @include respond(tab-port) {
        padding: 10rem 0;
    }
    @include respond(phone) {
        transform: skewY(-20deg);
    }
    .section-row {
        display: flex;
        align-items: center;
        transform: skewY(7deg);
        @include respond(tab-port) {
            flex-wrap: wrap;
            justify-content: center;
            width: 40rem;
            padding: 1rem;
        }
        @include respond(phone) {
            transform: skewY(20deg);
        }
    }
}

.feature-box {
    // height: 30rem;
    border-radius: 4px solid;
    margin: 5rem 3.5rem 5rem 3.5rem;
    text-align: center;
    background-color: rgba($color-white, 0.7);
    font-size: 1.5rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: all 0.3s;
    cursor: pointer;
    &--icon {
        font-size: 6rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
        background-image: linear-gradient( to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        transform: scale(1.05) translateY(-1.5rem);
    }
}

// Tours SEction
.section-tours {
    overflow: hidden;
    padding: 15rem 0 15rem 0;
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 15rem;
    width: 100vw;
    color: white;
    flex-wrap: wrap;
}

//Functionality
.card {
    perspective: 150rem;
    position: relative;
    height: 52rem;
    @media (max-width: 1400px) {
        margin: 4rem;
    }
    &__side {
        height: 52rem;
        width: 35rem;
        transition: all 0.8s ease;
        cursor: pointer;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            left: 0;
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0deg);
    }
    //Front-side-styling
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: overlay;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-5.jpg?raw=true);
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-6.jpg?raw=true);
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-7.jpg?raw=true);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        text-align: right;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.90), rgba($color-secondary-dark, 0.90));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.9), rgba($color-primary-dark, 0.9));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.9), rgba($color-tertiary-dark, 0.9));
        }
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                color: #000;
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    // BACK SIDE STYLING
    &__side--back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__cta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__price-box {
        margin-bottom: 10rem;
    }
    &__price-only {
        font-size: 2.4rem;
        text-align: center;
        font-family: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 8rem;
        text-align: center;
        font-weight: 100;
    }
    //media query
    @media only screen and (max-width: 56.25em),
    only screen and (hover:none) {
        height: auto;
        border-radius: 3px;
        width: 70%;
        background-color: $color-white;
        &:hover &__side--front {
            @include respond(tab-port) {
                transform: rotateY(0);
            }
        }
        @media (max-width: 1400px) {
            margin: 4rem;
        }
        &__side {
            height: auto;
            width: 35rem;
            position: relative;
            border-radius: 3px;
            margin-bottom: -6rem;
            padding-bottom: 3rem;
            &--back {
                padding: 5rem 0 3rem 0;
                transform: rotateY(0);
                &-1 {
                    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
                }
                &-2 {
                    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
                }
                &-3 {
                    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
                }
            }
        }
        //Front-side-styling
        &__picture {
            background-size: cover;
            height: 23rem;
            background-blend-mode: overlay;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-5.jpg?raw=true);
            }
            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-6.jpg?raw=true);
            }
            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-7.jpg?raw=true);
            }
        }
        &__heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            position: absolute;
            text-align: right;
            top: 12rem;
            right: 2rem;
            width: 75%;
        }
        &__heading-span {
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
            &--1 {
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.90), rgba($color-secondary-dark, 0.90));
            }
            &--2 {
                background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.9), rgba($color-primary-dark, 0.9));
            }
            &--3 {
                background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.9), rgba($color-tertiary-dark, 0.9));
            }
        }
        &__details {
            padding: 3rem;
            ul {
                list-style: none;
                width: 80%;
                margin: 0 auto;
                li {
                    color: #000;
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 1rem;
                    &:not(:last-child) {
                        border-bottom: 1px solid #eee;
                    }
                }
            }
        }
        // BACK SIDE STYLING
        &__side--back {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
        }
        &__cta {}
        &__price-box {
            margin-bottom: 1rem;
        }
        &__price-only {
            font-size: 2rem;
            text-align: center;
            font-family: 100;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &__price-value {
            font-size: rem;
            text-align: center;
            font-weight: 100;
        }
        .btn--card {
            margin-top: 0.1rem;
        }
    }
}

.btn--green {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: white;
    margin-top: 8rem;
}

// SECTION STORIES
.section-stories {
    overflow: hidden;
    padding: 15rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.story {
    width: 75%;
    margin: 0 auto;
    background-color: rgba($color-white, 0.6);
    box-shadow: 0 3rem 6rem rgba($color-black, 0.13);
    border-radius: 3px;
    color: $color-gray;
    padding: 6rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
    cursor: pointer;
    &>* {
        transform: skewX(12deg);
    }
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
    }
    @include respond(phone) {
        transform: skew(0);
        &>* {
            transform: skewX(0);
        }
    }
    &__shape {
        position: relative;
        width: 14rem;
        height: 14rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin: 2rem;
    }
    &__img {
        height: 100%;
        transform: translateX(-3rem) scale(1.4);
        transition: all 0.5s;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover &__img {
        transform: translateX(-3rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.section-booking {
    overflow: hidden;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    height: 70rem;
    position: relative;
    @include respond(tab-port) {
        height: 80rem;
    }
}

.book {
    position: absolute;
    height: 75%;
    width: 70%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 60%, transparent 52%), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-10.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
    padding: 3rem;
    color: $color-gray;
    @include respond(tab-port) {
        background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%), url(https://github.com/jonasschmedtmann/advanced-css-course/blob/master/Natours/starter/img/nat-10.jpg?raw=true);
        height: 80%;
    }
}

.book-form {
    border: 2px solid;
    width: 50%;
}

.form {
    height: 52rem;
    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        font-family: inherit;
        border-bottom: 5px solid transparent;
        display: block;
        color: inherit;
        width: 40%;
        transition: all 0.3s;
        box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
        @include respond(tab-port) {
            width: 100%;
            padding: 1rem 25rem 0.7rem 1rem;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            border-bottom: 5px solid $color-primary;
            &:invalid {
                border-bottom: 5px solid $color-secondary-dark
            }
        }
        &::-webkit-input-placeholder {
            color: #999;
        }
    }
    &__label {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: inline-block;
        transition: all 0.3s;
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group {
        width: 30%;
        display: inline-block;
    }
    &__radio-label {
        cursor: pointer;
        font-size: 1.4rem;
        position: relative;
        padding-left: 3rem;
        width: 100%;
        text-align: center;
    }
    &__radio-button {
        height: 2.2rem;
        width: 2.2rem;
        border: 4px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.15rem;
        @include respond(tab-port) {
            border: 2px solid $color-primary;
            top: 0.2rem;
        }
        &::after {
            content: '';
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.2s;
            @include respond(tab-port) {
                height: 0.9rem;
                width: 0.9rem;
            }
        }
    }
    &__radio-input:checked~&__radio-label &__radio-button::after {
        opacity: 1;
    }
    &__radio-input {
        visibility: hidden;
    }
    &__group-btn {
        margin-top: 3.5rem;
        margin-left: 1rem;
        border: none;
        height: 5rem;
        width: 15rem;
        border-radius: 10rem;
        cursor: pointer;
        font-size: 1.7rem;
        font-family: inherit;
        transition: all 0.2s;
    }
    .form_group--radio {
        @include respond(phone) {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-left: 5.5rem;
        }
        @include respond(tab-port) {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 6rem;
        }
    }
    .form__radio-group {
        @include respond(tab-port) {
            padding: 2rem;
            flex-direction: column;
            height: 50%;
            width: 70%;
        }
    }
    .form__radio-label {
        @include respond(tab-port) {
            display: inline;
            float: left;
            width: 70%;
        }
    }
}

//Footer Section
.footer {
    overflow: hidden;
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    @include respond(tab-port) {
        padding: 8rem 0;
    }
    @include respond(phone) {
        font-size: 0.8rem;
    }
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo {
        width: 15rem;
        height: auto;
    }
    .row__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__navigation {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #eee;
        padding-top: 2rem;
    }
    &__list {
        list-style: none;
        display: flex;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
        @include respond(phone) {
            padding: 0 3.5rem 0 3.5rem;
        }
    }
    &__item {
        margin: 3rem;
        @include respond(phone) {
            text-align: center;
        }
    }
    &__link {
        &:link,
        &:visited {
            color: $color-gray-light-1;
            background-color: #333;
            padding: 0.1rem;
            margin-left: 1.5rem;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
        }
        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: scale(1.3);
        }
    }
    &__copyright {
        color: $color-gray-light-1;
    }
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &__content {
        width: 80%;
        background-color: $color-white;
        color: black;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 3px;
        display: table;
        opacity: 0;
        transition: all 0.5s 0.2s;
    }
    &__left {
        width: 33.33%;
        display: table-cell;
        overflow: hidden;
    }
    &__right {
        width: 66.67%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        hyphens: auto;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__close {
        &:link,
        &:visited {
            color: $color-gray;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
            line-height: 1;
        }
        &:hover {
            color: red;
        }
    }
}